#pie{
    position: fixed;
    bottom: 0;
    width: 99%;
    left: 7px;
    right: 7px;
    height: 35px;
    /* background-color: rgb(255, 255, 255); */
    background-color: #17181A;
    /* border: 2px solid black; */
    right: 2px;
}
.parrafo{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}