.text{
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.contenedor{
    position: relative;
    width: 300px;
    height:500px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    left: 76px;
    top: 50px;
}
