body{
    background-color: #c0c0c0;
    /* background-color: #17181A; */

}
form{
    top: 0;
    background-color: #c0c0c0;
    /* background-color: #17181A; */
    position:static;
    width: 30%;
    /* background-color: #c0c0c0; */
    margin-left: 30%;
    /* border-right: 2px solid black; */
}
.titulos{
    margin-left: 30%;
}
input{
    height: 30px;
    border-radius: 5px;
}
input:hover{
        transform: scale(1.02);

}
.atras{
    height: 30px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
}
 img{
    width: 42rem;
    height: 30rem;
    float: right;
    margin-right: 80px;
    /* margin-top: 30px; */
}
.btn-registrar{
    border-radius: 5px;
    height: 30px;
    background: #fffdfd;
}
.btn-registrar:hover{
    transform: scale(1.05);
    cursor: pointer;
    background: #24242436;
}
.btn-atras{
    border-radius: 5px;
    height: 30px;
    background: #fffdfd;
}
.btn-atras:hover{
    transform: scale(1.05);
    cursor: pointer;
    background: #24242436;
}