
.container{
    position: relative;
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    top: -91px;
    display: flex;
    flex-direction: column;
    text-align: center ;
    
}
.cont{
    position: relative;
    width: 300px;
    height: 520px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    top: -268px;
    display: flex;
    flex-direction: column;
    text-align: center ;
}
.contenedorproducto{
  position: relative;
    width: 45%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.crearproducto{
  width: 55%;
  background-color: rgb(255, 255, 255);
}
.titulos{
  text-align: center;
}

input{
  height: 27px;
  width: 160px;
  border-radius: 10px;
  margin: 10px;
}

.parrafos{
  color: rgb(0, 0, 0);
  margin: 10px;
}

.btn-iniciar{
  margin: 15px;
  padding: 5px;
  background-color: rgb(163, 236, 163);
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.btn-iniciar:hover{
  transform: scale(1.01);
}

.mensaje-exito {
  color: green;
  font-weight: bold;
  margin: 15px;
  font-size: 10px;
}
.mensaje-error {
  color: red;
  font-weight: bold;
  margin: 15px;
  font-size: 10px;
}
.mensaje-campos{
  color: rgb(0, 21, 255);
  font-weight: bold;
  margin: 15px;
  font-size: 10px;
}

.crear-producto2{
  text-align: right;
  position: relative;
  top: -400px;
  margin: 25px;
}
.gran{
  width: 892px;
}
textarea{
  border-radius: 10px;
  height: 90px;
  width: 300px;
  border: 2px solid black;
}
form{
  margin-left: 10px;
}
h2{
  margin-left: 10px;
}
.crearproducto{
  margin-left: 10px;
  margin-top: 20px;
}
select{
  border-radius: 5px;
  height: 40px;
  border: 2px solid black;
}
.guardar{
  height: 35px;
  border-radius: 7px;
  margin-top: 60px;
}
.guardar:hover{
  background-color: #2dda33;
  transform: scale(1.05);
  cursor: pointer;
}
#nombre{
  height: 35px;
  margin-left: 1px;
}
#precio{
  height: 35px;
  margin-left: 1px;
}
#stock{
  height: 35px;
  margin-left: 1px;
}
input#file-upload-button{
  border-radius: 10px;
}