
.container{
    position: relative;
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    left: -42px;
    top: -63px;
}

input{
  height: 27px;
  width: 160px;
  border-radius: 10px;
  margin: 10px;
}

.parrafos{
  color: rgb(0, 0, 0);
  margin: 10px;
}
.mensaje-exito {
  color: green;
  font-weight: bold;
  margin: 15px;
  font-size: 20px;
}
.mensaje-error {
  color: red;
  font-weight: bold;
  margin: 15px;
  font-size: 20px;
}

